/*font-family: 'Abril Fatface', cursive;
font-family: 'Mukta', sans-serif;
font-family: 'Playfair Display SC', serif;*/

:root{
    --primary-color:#AB8E7F
}

#photo {
    text-align: center;
    max-width: 630px;
}
.about-me{
    background-color: var(--primary-color);
     text-align: center;
    color: white;
    font-size: 25px;
    font-family: 'Mukta', sans-serif;
    padding: 0 10px 10px 10px;
}
.about-me h1 {
   font-size: 30px;
   font-family: 'Abril Fatface', cursive;
}
.tools {
    max-width: 90px;
    

}

.skills h1{
    text-align: center;
    font-size: 30px;
   font-family: 'Abril Fatface', cursive;
}
#result-one{
    max-width: 230px;
}
#result-two{
    max-width: 230px;
}
#button-skills {
    color:var(--primary-color);
    background-color: white;
    border: black;
}
#button-skills:hover{
    background-color: var(--primary-color);
    color: white;
     border: 2px solid white;
}
#button-project {
    background-color: var(--primary-color);
    color: white;
    border: black;
    box-shadow: 10px black;
}
#button-project:hover {
    background-color: white;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    box-shadow: 10px black;
}
.project h2{
    text-align: center;
    font-size: 40px;
   font-family: 'Abril Fatface', cursive;
   padding: 40px 0 5px 5px;
}
.project h1{
    text-align: center;
    font-size: 35px;
   font-family: 'Abril Fatface', cursive;
}
.project p{
    font-size: 25px;
    font-family: 'Mukta', sans-serif;
}
#button-contact {
    background-color: var(--primary-color);
    color: white;
    border: black;
    box-shadow: 10px black;
}
#button-contact:hover {
    background-color: white;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    box-shadow: 10px black;

}
#email{
    color: var(--primary-color);
    font-size: 35px;

}
.contact{
    text-align: center;
    padding: 10px 20px 5px 5px;
}
#contact-logo{
    max-width: 300px;;
}
.contact-text {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 25px;
}
#contact-icon {
 color: var(--primary-color);
    font-size: 50px;

}
.mail 
 {
    font-size: 25px;
}
.phone{
    font-size: 25px;
}
.instagram{
    font-size: 25px;
}
.linkedin{
    font-size: 25px;
}
.location{
    font-size: 25px;
}
#skills-logo{
    max-width: 300px;;
}
#skills-icon{
    text-align: center;
    font-size: 35px;
   
}
#level-icon{
    text-align: center;
    font-size: 35px;
   font-family: 'Abril Fatface', cursive;
}
#level-logo{
    max-width: 230px;
}
.skills-contant{
    border: 2px solid var(--primary-color)
}
.certificate h1  {
    font-size: 35px;
}
#school  {
    font-size: 20px;
}
.certificate   {
    text-align: center;
   font-family: 'Abril Fatface', cursive;
}
#project-logo{
    max-width: 300px;
}
.weather-project h2{
    text-align: center;
    font-size: 35px;
   font-family: 'Abril Fatface', cursive;
}
.name-skills{
    text-align: center;
    font-size: 30px;
   font-family: 'Abril Fatface', cursive;
   padding: 20px 0 0 0;
}
.name-of-skills{
    font-size: 20px;
}
#skills-padding{
    padding: 0 0 20px 0;
}
.levels h1{
    text-align: center;
    font-size: 30px;
   font-family: 'Abril Fatface', cursive;
}
.links-contact{
    text-decoration: none!important;
    color: var(--primary-color);
    cursor: pointer;
}
